<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-messaging.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<script>
  // Your web app's Firebase configuration
  const firebaseConfig = {
    apiKey: "AIzaSyBk8ozu6shC6TkC5quC7R2fSUWiNEkiz2I",
    authDomain: "fastparcel-345317.firebaseapp.com",
    projectId: "fastparcel-345317",
    storageBucket: "fastparcel-345317.appspot.com",
    messagingSenderId: "110294742333",
    appId: "1:110294742333:web:fa421774aeb428246bc154"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>